<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Details BookInstance</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">Details: Book instance
                    <a class="btn btn-primary"
                       th:href="@{'/bookInstances/edit/' + ${bookInstance.getId()}}"
                       type="button">Edit</a></div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr>
                            <th>ISBN:</th>
                            <td><a th:href="@{'/books/details/' + ${bookInstance.getBook().getIsbn()}}"
                                   th:text="${bookInstance.getBook().getIsbn()}"></a></td>
                        </tr>
                        <tr>
                            <th>Title:</th>
                            <td th:text="${bookInstance.getBook().getTitle()}"></td>
                        </tr>
                        <tr>
                            <th>Imprint:</th>
                            <td th:text="${bookInstance.getImprint()}"></td>
                        </tr>
                        <tr>
                            <th>Publishing date:</th>
                            <td th:text="${#calendars.format(bookInstance.getPublishingDate(), 'd MMMM y')}"></td>
                        </tr>
                        <tr>
                            <th>Status:</th>
                            <td th:text="${bookInstance.getStatus().name()}"></td>
                        </tr>
                        <tr>
                            <th>Due back:</th>
                            <td th:text="${#temporals.format(bookInstance.getDueBack(),'d MMMM y')}"></td>
                        </tr>
                    </table>
                    <hr>
                    <a class="btn btn-primary" th:href="@{'/books/details/' + ${bookInstance.getBook().getIsbn()}}"
                       type="button">Book</a>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
