<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Details Author</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">Details: Author
                    <a class="btn btn-outline-warning"
                       th:href="@{'/authors/edit/' + ${author.getId()}}"
                       type="button">Edit</a>
                    <a class="btn btn-outline-success"
                       th:href="@{'/books/new/?author=' + ${author.getId()}}"
                       type="button">Create new book</a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <div class="row">
                                <div class="col">
                                    <label>First name:</label>
                                </div>
                                <div class="col">
                                    <label th:text="${author.getFirstName()}"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label>Last name:</label>
                                </div>
                                <div class="col">
                                    <label th:text="${author.getLastName()}"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col">
                                    <label>Birth date:</label>
                                    <label th:text="${#calendars.format(author.getBirthDate(), 'dd MMMMM y')}"></label>
                                </div>
                                <div class="col">
                                    <label>Death date:</label>
                                    <label th:text="${#calendars.format(author.getDeathDate(), 'dd MMMMM y')}"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label>Lifespan:</label>
                                </div>
                                <div class="col">
                                    <label th:text="${author.getLifespan(author.getBirthDate(), author.getDeathDate())} + ' year(s)'"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <label>Books:</label>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col"
                                 th:each="book : ${books.getItems()}">
                                <a class="btn-link"
                                   th:href="@{'/books/details/' + ${book.getIsbn()}}"
                                   th:text="${book.getTitle()}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
