<!DOCTYPE html>
<html
        lang="en"
        layout:decorate="~{layout}"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8"/>
    <title>Edit Author</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <div class="card mt-2">
                <div class="card-header">
                    <h4>Edit Author</h4>
                </div>
                <div class="card-body">
                    <form action="#"
                          method="post"
                          th:action="@{/authors/edit}"
                          th:object="${author}">
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col">
                                                    <label for="firstName">First Name</label>
                                                </div>
                                                <div class="col-7">
                                                    <input aria-describedby="firstName"
                                                           class="form-control"
                                                           id="firstName"
                                                           placeholder="Enter first Name"
                                                           th:field="*{firstName}"
                                                           type="text"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row">
                                                <div class="col">
                                                    <label for="lastName">Last Name</label>
                                                </div>
                                                <div class="col-7">
                                                    <input aria-describedby="lastName"
                                                           class="form-control"
                                                           id="lastName"
                                                           placeholder="Enter last name"
                                                           th:field="*{lastName}"
                                                           type="text"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col">
                                                    <label for="birthDate">Birth date</label>
                                                </div>
                                                <div class="col-7">
                                                    <input class="form-control"
                                                           id="birthDate"
                                                           name="birthDate"
                                                           th:value="*{birthDate}"
                                                           type="date"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row">
                                                <div class="col">
                                                    <label for="deathDate">Death date</label>
                                                </div>
                                                <div class="col-7">
                                                    <input class="form-control"
                                                           id="deathDate"
                                                           name="deathDate"
                                                           th:value="*{deathDate}"
                                                           type="date"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="dropdown-custom" id="books">
                                        <label>Books</label>
                                        <ul class="dropdown-custom-content">
                                            <li th:each="book : ${books.getItems()}">
                                                <input class="check-box"
                                                       type="checkbox"
                                                       th:field="*{isbnList}"
                                                       th:text="${book.getTitle()}"
                                                       th:value="${book.getIsbn()}"/>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <button class="btn btn-outline-warning" type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
