<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Details Genre</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2 optional-dropdown">
                <div class="card-header">Details: Genre
                    <a class="btn btn-outline-warning"
                       th:href="@{'/genres/edit/' + ${genre.getId()}}"
                       type="button">Edit</a>
                    <a class="btn btn-outline-success"
                       th:href="@{'/books/new/?genre=' + ${genre.getId()}}"
                       type="button">Create new book</a>
                </div>
                <div class="card-body">
                    <div class="row-auto">
                        <label>Name:</label>
                        <label th:text="${genre.getGenreType().name()}"></label>
                    </div>
                    <div class="row row-cols-auto">
                        <div class="col">
                            <label>Books:</label>
                        </div>
                        <div class="col"
                             th:each="book : ${books.getItems()}">
                            <a class="btn-link"
                               th:href="@{'/books/details/' + ${book.getIsbn()}}"
                               th:text="${book.getTitle()}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
