<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/data_table}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Genres</title>
</head>
<body>
<div layout:fragment="data_table_content">
    <tr th:each="genre, column : ${pageData.getItems()}">
        <td th:text="${column.count}"></td>
        <td th:text="${genre.getGenreType().name()}"></td>
        <td><a class="btn btn-link"
               th:href="@{'/books/genres/' + ${genre.getId()}}"
               th:text="${genre.getBooksCount()}"
               type="button">all books by genre</a></td>
        <td><a class="btn btn-primary"
               th:href="@{'/genres/details/' + ${genre.getId()}}"
               type="button">Details</a>
        </td>
        <td><a class="btn btn-danger"
               th:href="@{'/genres/delete/' + ${genre.getId()}}"
               type="button">Delete</a>
        </td>
    </tr>
</div>
</body>
</html>
