<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link
            crossorigin="anonymous"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            rel="stylesheet"
    />
    <link href="/css/app.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-dark bg-dark justify-content-center">
        <a class="nav-item nav-link" th:href="@{/departments}">Departments</a>
        <a class="nav-item nav-link" th:href="@{/departments/new}">Create new department</a>
        <a class="nav-item nav-link" th:href="@{/employees}">Employees</a>
        <!--        <a class="nav-item nav-link" th:href="@{/employees/new}">Create new employee</a>-->
        <a class="nav-item nav-link" th:href="@{/genres}">Genres</a>
        <a class="nav-item nav-link" th:href="@{/genres/new}">Create new genre</a>
        <a class="nav-item nav-link" th:href="@{/authors}">Authors</a>
        <a class="nav-item nav-link" th:href="@{/authors/new}">Create new author</a>
        <a class="nav-item nav-link" th:href="@{/books}">Books</a>
        <a class="nav-item nav-link" th:href="@{/books/new}">Create new book</a>
        <a class="nav-item nav-link" th:href="@{/bookInstances}">BookInstances</a>
        <a class="nav-item nav-link" th:href="@{/bookInstances/new}">Create new bookInstance</a>
    </nav>
    <section layout:fragment="content"></section>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
        crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
></script>
<script
        crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
></script>
</body>
</html>
