<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/data_table}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Books</title>
</head>
<body>
<div layout:fragment="data_table_content">
    <tr th:each="book,column : ${pageData.getItems()}">
        <td th:text="${column.count}"></td>
        <td th:text="${book.getIsbn()}"></td>
        <td>
            <img th:src="@{${book.getImageUrl()}}" width="45" height="45"/>
        </td>
        <td th:text="${book.getTitle()}"></td>
        <td th:text="${#dates.year(book.getPublicationDate())}"></td>
        <td><a th:href="@{'/authors/?bookIsbn=' + ${book.getIsbn()}}"
               th:text="${book.getAuthorsCount()}"
               type="button"
               class="btn btn-link">all authors by book</a>
        </td>
        <td><a th:href="@{'/genres/?bookIsbn=' + ${book.getIsbn()}}"
               th:text="${book.getGenresCount()}"
               type="button"
               class="btn btn-link">all genres by book</a>
        </td>
        <td><a th:href="@{'/bookInstances/?bookIsbn=' + ${book.getIsbn()}}"
               th:text="${book.getBookInstancesCount()}"
               type="button"
               class="btn btn-link">all bookInstances by book</a>
        </td>
        <td><a th:href="@{'/books/details/' + ${book.getIsbn()}}"
               type="button"
               class="btn btn-primary">Details</a>
        </td>
        <td><a th:href="@{'/books/delete/' + ${book.getIsbn()}}"
               type="button"
               class="btn btn-danger">Delete</a>
        </td>
    </tr>
</div>
</body>
</html>
