<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/data_table}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Authors</title>
</head>
<body>
<div layout:fragment="data_table_content">
    <tr th:each="author,column : ${pageData.getItems()}">
        <td th:text="${column.count}"></td>
        <td th:text="${author.getFirstName()}"></td>
        <td th:text="${author.getLastName()}"></td>
        <td><a class="btn btn-link"
               th:href="@{'/books/?authorId=' + ${author.getId()}}"
               th:text="${author.getBooksCount()}"
               type="button">all books by author</a>
        </td>
        <td><a class="btn btn-primary"
               th:href="@{'/authors/details/' + ${author.getId()}}"
               type="button">Details</a>
        </td>
        <td><a class="btn btn-danger"
               th:href="@{'/authors/delete/' + ${author.getId()}}"
               type="button">Delete</a>
        </td>
    </tr>
</div>
</body>
</html>
