<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Update Client</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mt-2" style="background-color: #ffe69c;">
                <div class="card-header">
                    <h4>Update Client</h4>
                </div>
                <div class="card-body">
                    <form action="#" method="post" th:action="@{/clients/update}" th:object="${client}">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input aria-describedby="email" class="form-control" id="email"
                                   placeholder="Enter client's new email"
                                   th:field="*{email}" th:required="required" type="email">
                        </div>
                        <button class="btn btn-outline-secondary" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
