<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Employees</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">All Employees</div>
                <div class="card-body">
                    <table class="table table-sm table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Age</th>
                            <th>Department id</th>
                            <th>Created</th>
                            <th>Updated</th>
                            <th>Details</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="employee,column : ${employees}">
                            <td th:text="${column.count}"></td>
                            <td th:text="${employee.getFirstName()}"></td>
                            <td th:text="${employee.getLastName()}"></td>
                            <td th:text="${employee.getAge()}"></td>
                            <td th:text="${employee.getDepartment().getId()}"></td>
                            <td th:text="${#calendars.format(employee.getCreated(),'dd MMMM yyyy')}"></td>
                            <td th:text="${#calendars.format(employee.getUpdated(),'dd MMMM yyyy')}"></td>
                            <td>
                                <a class="btn btn-primary" th:href="@{'/employees/details/' + ${employee.getId()}}"
                                   type="button">Details</a>
                            </td>
                            <td>
                                <a class="btn btn-danger" th:href="@{'/employees/delete/' + ${employee.getId()}}"
                                   type="button">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
