<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Details Book</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">Details: Book
                    <a class="btn btn-outline-warning"
                       th:href="@{'/books/edit/' + ${book.getIsbn()}}"
                       type="button">Edit</a>
                    <a class="btn btn-outline-success"
                       th:href="@{'/bookInstances/new/?book=' + ${book.getIsbn()}}"
                       type="button">Create new instance</a>
                    <a class="btn btn-outline-danger"
                       th:href="@{'/bookInstances/delete/?book=' + ${book.getIsbn()}}"
                       type="button">Delete all instances</a>
                </div>
                <div class="card-body">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <img class="img-details" th:src="@{${book.getImageUrl()}}"/>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <label>Title:</label>
                                    </div>
                                    <div class="col">
                                        <label th:text="${book.getTitle()}"></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label>ISBN:</label>
                                    </div>
                                    <div class="col">
                                        <label th:text="${book.getIsbn()}"></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label>Publication date:</label>
                                    </div>
                                    <div class="col">
                                        <label th:text="${#dates.year(book.getPublicationDate())}"></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label>Pages number:</label>
                                    </div>
                                    <div class="col">
                                        <label th:text="${book.getPagesNumber()}"></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label>Instances:</label>
                                    </div>
                                    <div class="col">
                                        <label th:text="${instances}"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="row">
                                        <label>Authors:</label>
                                    </div>
                                    <div class="row row-cols-auto">
                                        <div class="col"
                                             th:each="author,column : ${authors.getItems()}"
                                        >
                                            <a class="btn-link"
                                               th:href="@{'/authors/details/' + ${author.getId()}}"
                                               th:text="${author.getFirstName() + ' ' + author.getLastName()}"></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label>Genres:</label>
                                    </div>
                                    <div class="row row-cols-auto">
                                        <div class="col"
                                             th:each="genre,column : ${genres.getItems()}">
                                            <a class="btn-link"
                                               th:href="@{'/genres/details/' + ${genre.getId()}}"
                                               th:text="${genre.getGenreType()}"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <label>Summary:</label>
                            </div>
                            <div class="card-body">
                                <label th:text="${book.getSummary()}"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
