<!DOCTYPE html>
<html
        lang="en"
        layout:decorate="~{layout}"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8"/>
    <title>Edit Book</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <div class="card mt-2">
                <div class="card-header">
                    <h4>Edit Book</h4>
                </div>
                <div class="card-body">
                    <form action="#"
                          method="post"
                          th:action="@{/books/edit}"
                          th:object="${book}">
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <img class="img-details" th:src="@{${book.getImageUrl()}}"/>
                                </div>
                                <div class="col">
                                    <div class="col">
                                        <div class="col-auto">
                                            <label for="title">Title</label>
                                        </div>
                                        <div class="col-auto">
                                            <input class="form-control"
                                                   id="title"
                                                   placeholder="Book's title"
                                                   th:field="*{title}"
                                                   type="text"/>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="col-auto">
                                            <label for="imageUrl">URL</label>
                                        </div>
                                        <div class="col-auto">
                                            <input class="form-control"
                                                   id="imageUrl"
                                                   name="imageUrl"
                                                   placeholder="Input image url"
                                                   th:field="*{imageUrl}"/>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="col-auto">
                                            <label for="pagesNumber">Pages number</label>
                                        </div>
                                        <div class="col-auto">
                                            <input class="form-control"
                                                   id="pagesNumber"
                                                   th:field="*{pagesNumber}"
                                                   type="number"/>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="col-auto">
                                            <label for="publicationDate">Publication date</label>
                                        </div>
                                        <div class="col-auto">
                                            <input class="form-control"
                                                   id="publicationDate"
                                                   name="publicationDate"
                                                   th:value="*{publicationDate}"
                                                   type="date"/>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row pl-3">
                                            <div class="col">
                                                <div class="dropdown-custom" id="genres">
                                                    <label>Genres</label>
                                                    <ul class="dropdown-custom-content">
                                                        <li th:each="genre : ${genres.getItems()}">
                                                            <input class="check-box"
                                                                   type="checkbox"
                                                                   th:field="*{genres}"
                                                                   th:text="${genre.getGenreType().name()}"
                                                                   th:value="${genre.getId()}"/>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="dropdown-custom" id="authors">
                                                    <label>Authors</label>
                                                    <ul class="dropdown-custom-content">
                                                        <li th:each="author : ${authors.getItems()}">
                                                            <input class="check-box"
                                                                   type="checkbox"
                                                                   th:field="*{authors}"
                                                                   th:text="${author.getFirstName() + ' ' + author.getLastName()}"
                                                                   th:value="${author.getId()}"/>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <label for="summary">Summary</label>
                                    <textarea class="form-control"
                                              id="summary"
                                              placeholder="Book's summary"
                                              th:field="*{summary}"
                                              type="text"/>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-outline-warning" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="scripts">
    <script th:src="@{/js/main.js}" type="text/javascript"></script>
</th:block>

</body>
</html>
